<div class="control">
  <p align="right" style="margin: 1rem"><%= link_to 'Edit Post', edit_post_path(@post), class: "button is-primary" %></p>
  <h1 class="title" align="center" style="flex: auto">Show Page</h1>
</div>
<div class="container">
  <h1 class="title">
    <%= @post.title %>(<%= link_to @post.url.truncate(40), @post.url,target: :_blank  %>)
  </h1>
<div id="search-field">
  <p><%= @post.likes %> <%= link_to 'likes', likes_path(@post), method: :patch %>
    <%= @post.comments.count %> comment</p>
</div>
  <h3 class="content">
    <%= simple_format(@post.content) %>
  </h3>
</div>

<div class="card">
  <div class="card-content">
    <b class="bold">Comments</b>
    <%= form_with(model: [@post, @post.comments.build]) do |f| %>
      <div class="content">
        <P>Name:</P>
   <%= f.text_field :name, class: 'input' %>
      </div>
      <div class="content">
        <p>Comment:</p>
        <%= f.text_area :body, class: 'input' %>
      </div>
      <%= f.submit 'Submit', class: "button is-primary" %>
    <% end %>
  </div>
</div>
<%= render @post.comments.where(parent_id: nil).order('id desc') %>
